@font-face {
  font-family: "Valorant"; /*Can be any text*/
  src: local("ValorantFont"), url("./fonts/ValorantFont.ttf") format("truetype");
}

.valorant-font {
  font-family: "Valorant";
}
@font-face {
  font-family: "Tungsten"; /*Can be any text*/
  src: local("Tungsten"), url("./fonts/Tungsten.ttf") format("truetype");
}
